body {
	font-size: 20px;
	font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
}

#photo {
	width: 400px;
	height: 400px;
	border: 1px solid black;
	padding: 5px;
}

#spinner {
	display: none;
}